<!DOCTYPE HTML>


<html xmlns:th="http://www.thymeleaf.org">

<head><title>Form Page</title></head>

<body>
<p>Checking that the form is functioning properly... </p>

<form action="/visits/add" method="post">
  <ul>
    <li>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">
    </li>
    <li>
      <label for="mail">E-mail:</label>
      <input type="email" id="mail" name="email">
    </li>
  </ul>
  <li class="button">
    <button type="submit">Submit Visit</button>
  </li>
</form>
</body>

</html>